<%- include('../../partials/header.ejs')%>
<%- include('../../partials/navbar.ejs')%>

<div class="container">
    <h2 class="float-left">Articles</h2>
    <a class="btn btn-success float-right" href="/admin/articles/new">Add</a>    
</div>    

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>  
            <% articles.forEach((article) => { %>
                <tr>
                    <td><%= article.id %></td>
                    <td><%= article.title %></td>
                    <td><%= article.slug %></td>
                    <td><%= article.category.title %></td>
                    <td>
                        <form action="/article/delete" method="POST" onsubmit="confirmDelete(event, this)">
                            <input type="hidden" value="<%= JSON.stringify(article)  %>" name="id">
                            <button class="btn btn-danger" href="/admin/article/delete">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }) %>         
        </tbody>
    </table>
</div>

<script>
    function confirmDelete(event, form){
        event.preventDefault();
        const title = JSON.parse(form.id.value);
        if(confirm(`Do you want delete this article: "${title.title}" ?`)){
            form.submit();
        }else{
            console.log('Noooo!');
        }
    }
</script>

<%- include('../../partials/footer.ejs')%>
