<%- include('./partials/header.ejs')%>
<%- include('./partials/navbar.ejs')%>
<div class="container">
    <div class="row">
        <div class="col-lg-8 text-justify">
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                    <p class="text-muted">
                        <%= moment(article.updatedAt).locale('pt-br').format('dddd, D [de] MMMM [de] YYYY');%>
                        - 
                        <a href="/categories/<%=article.categoryId%>"><%= article.category.title%></a>
                    </p>
                    <hr>
                    <p>
                        <%- article.body%>
                    </p>
                </div>
            </div>
        </div>
        <%-include('./partials/author.ejs')%>
    </div>
</div>
<%-include('./partials/footer.ejs')%>