<%- include('./partials/header.ejs')%>
<%- include('./partials/navbar.ejs')%>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <% articles.forEach((articles)=>{%>
                <div class="card mb-4">
                    <div class="card-header">
                        <a href="/<%= articles.slug%>">
                            <h3><%= articles.title %></h3>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="text-muted">
                            <%= moment(articles.updatedAt).locale('pt-br').format('dddd, D [de] MMMM [de] YYYY');%> | 
                            Postado em:<b> <%= articles.category.title%></b>
                        </p>
                        <p class="text-muted">
                            <%= articles.description%>...
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="/<%= articles.slug%>" class="btn btn-outline-primary">Leia mais!</a>
                    </div>
                </div>
            <%})%>
        </div>
        <%- include('./partials/author.ejs')%>
    </div>
</div>
<%- include('./partials/footer.ejs')%>