<%- include('./partials/header.ejs')%>

<div class="jumbotron">
    <div class="container">
        <h1>Salumao.com.br</h1>
        <p>É isso aí, enfim saiu o blog</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <img src="/images/picture.png" class="rounded-circle mb-4" width="200px" alt="">
            </div>
            <div class='col text-justify text-muted'>
                <p>
                    Meu nome é Salumão, sou bacharel em Sistemas de Informação desde 2013, em 2016 concluí uma especialização em Engenharia de Software. 
                    No momento, estou estudando as seguintes tecnologias: ReactJS, React Native, NodeJS, PHP e Python.
                </p>
                <p>
                    Em 2013 comecei a trabalhar para o governo do estado do Tocantins, lotado na Secretaria da saúde, 
                    2016 passei em um concurso público federal para trabalhar na Ebserh. Setembro de 2019 passei em outro
                    concurso publico e desde então trabalho na Universidade Federal do Tocantins. 
                </p>
            </div>
            <hr>
        </div>
        <div class="col-lg-8">
            <% articles.forEach((article)=>{ %>
                <div class="col mb-4">
                    <a href="#"><h2><%= article.title %></h2></a>
                    <p class="text-muted"> <%= moment(article.updatedAt).locale('pt-br').format('dddd, D [de] MMMM [de] YYYY');%> - <a class="text-success" href="#"><%= article.category.title%></a></p>
                    <p><%= article.description%></p>
                    <a class="btn btn-outline-primary" href="#">Leia mais</a>
                    <hr>
                </div>
            <% })%>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs')%>