<%- include('./partials/header.ejs')%>
<%- include('./partials/navbar.ejs')%>
<div class="jumbotron">
    <div class="container">
        <h1>Salumao.com.br</h1>
        <p>É isso aí, enfim saiu o blog</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <% articles.forEach((article)=>{ %>
                <div class="col mb-4">
                    <a href="/<%= article.slug%>"><h2><%= article.title %></h2></a>
                    <p class="text-muted"> <%= moment(article.updatedAt).locale('pt-br').format('dddd, D [de] MMMM [de] YYYY');%> - 
                        <a class="text-success" href="/categories/<%= article.category.slug%>"><%= article.category.title%></a>
                    </p>
                    <p><%= article.description%></p>
                    <a class="btn btn-outline-primary" href="/<%= article.slug%>">Leia mais</a>
                    <hr>
                </div>
            <% })%>
        </div>
        <!-- Inclusão da parte autor -->
        <%- include('./partials/author.ejs')%>
    </div>
</div>

<%- include('./partials/footer.ejs')%>